.wrapper {
    .content{
        max-width:1200px;
        padding:0 30px;
        margin:0 auto;
        text-align:center;
        h1{
            font-size:20px;
            font-weight:bold;
            line-height: 4em;
        }
        p{
            font-size:16px;
            color:#fff;
            font-weight:lighter;
            line-height:2em;
            padding:10px 0;
            a{
                color: #fff;
                text-decoration: underline;
            }
            b{
                color:#f6ba5e;
            }
            button{
                background: #f6ba5e;
                color: #fff;
                padding: 3px 8px;
                font-size: 12px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        
        }
}