.wrapper {
  .lend_total{
      text-align: center;
      padding:100px 0 50px 0;
      position: relative;
      h1{
          background: url(../public/img/box_back.svg) no-repeat center 28.5px;
          width: 110px;
          height: 130px;
          background-size: 100% auto;
          display:inline-block;
          position: relative;
          .box_front{
            background: url(../public/img/box_front.svg) no-repeat center;
            width: 106px;
            height: 130px;
            background-size: 100% auto;
            position: absolute;
            left: 12px;
            top: 19px;
            z-index: 999;
          }
          .text{
                line-height: 2em;
                position: relative;
                top: -80px;
                text-align: center;
                left: 15px;
              h2{
                  font-size: 16px;
                  color: #fff;
                  font-weight: normal;
                  opacity: 0.75;
              }
              p{
                  font-size: 30px;
                  color:#F5BA5D;
                  font-weight: lighter;
              }
          }
          i.light{
            background: url(../public/img/box_light.svg) no-repeat center;
            background-size: 100% auto ;
            width: 260px;
            height: 240px;
            position: absolute;
            left: -54px;
            top: -140px;
            animation-timing-function: ease-in-out;
            animation-name: breathe;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
          i.lemond1{
              background: url(../public/img/lemond.svg) no-repeat center;
              background-size: 100% auto;
              position: absolute;
              width: 20px;
              height: 20px;
              left: 90px;
              top: 80px;
              animation-timing-function: ease-in-out;
              animation-name: float;
              animation-duration: 6s;
              animation-iteration-count: infinite;
          }
          i.lemond2{
            background: url(../public/img/lemond.svg) no-repeat center;
            background-size: 100% auto;
            position: absolute;
            width: 25px;
            height: 25px;
            left: 40px;
            top: 70px;
            animation-timing-function: ease-in-out;
            animation-name: float;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
        }
        i.lemond3{
            background: url(../public/img/lemond.svg) no-repeat center;
            background-size: 100% auto;
            position: absolute;
            width: 15px;
            height: 15px;
            left: 70px;
            top: 70px;
            animation-timing-function: ease-in-out;
            animation-name: float;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 4s;
        }
        i.lemond4{
            background: url(../public/img/lemond.svg) no-repeat center;
            background-size: 100% auto;
            position: absolute;
            width: 25px;
            height: 25px;
            left: 30px;
            top: 70px;
            animation-timing-function: ease-in-out;
            animation-name: floatLeft;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
        }
        i.lemond5{
            background: url(../public/img/lemond.svg) no-repeat center;
            background-size: 100% auto;
            position: absolute;
            width: 22px;
            height: 22px;
            left: 90px;
            top: 75px;
            animation-timing-function: ease-in-out;
            animation-name: floatRight;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 2.5s;

        }
      }
      .supplyText,.borrowText{
        position: absolute;
        left: 50%;
        margin-left: -260px;
        top: 50%;
        margin-top: -70px;
        text-align: left;
          h3{
              opacity: 0.45;
              font-size: 14px;
              color: #fff;
              font-weight: normal;
              line-height: 2em;
          }
          p{
              font-size: 30px;
              color: #F5BA5D;
              font-weight: lighter;
          }
      }
      .borrowText{
        margin-left: 135px;
        text-align: right;
      }
      .lend_line{
          width: 700px;
          margin: 30px auto 0 auto;
          height: 50px;
          .line{
              background: #979797;
              height: 1px;
              width: 100%;
              display: block;
              margin-bottom: 8px;
              border-radius: 2px;
              .inner{
                  width: 20%;
                  border-radius: 2px;
                  display: block;
                  position: relative;
                  height: 100%;
                  .line_light{
                    width: 100%;
                    background: #F5BA5D;
                    animation-timing-function: ease-in-out;
                    animation-name: shine;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    height: 100%;
                    display: block;
                  }
                  i{
                        background: url(../public/img/lemond.svg) no-repeat center #2a2f36;
                        background-size: auto 100%;
                        position: absolute;
                        width: 50px;
                        height: 30px;
                        right: -25px;
                        top: -15px;
                        border-radius: 10px;
                  }
              }
          }
          .text{
              float: left;
              opacity: 0.45;
              font-size: 12px;
          }
          .num{
              float: right;
              color:#F5BA5D;
              font-size: 12px;
          }
          .borrowed{
              opacity: 0.45;
              font-size: 14px;
          }
      }
  }
  .lend_list{
      width: 1200px;
      margin: 0 auto;
      li{
          width:100%;
          border-radius: 10px;
          background-color: #1B1F26;
          background-repeat: no-repeat;
          background-position: right bottom;
          box-sizing: border-box;
          padding: 20px 20px;
          display: flex;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
          margin-bottom:20px;
          span{
              font-weight: bold;
              padding: 0 25px;
              width: 100px;
              font-size: 24px;
              text-align:center;
              white-space:nowrap;
              &.icon{
                  width: 60px;
                  height: 60px;
                  padding: 0 0 0 10px;
                  margin-right: 20px;
              }
              &.left{
                  text-align:left;
              }
              p{
                  display:block;
                  &.sub_title{
                      color:#84878b;
                      font-weight: lighter;
                      font-size:14px;
                  }
                  &.sub_titles{
                      color:#84878b;
                      font-weight: lighter;
                      font-size:14px;
                  }
              }
              button{
                      color:#fff;
                      border-radius: 20px;
                      border:none;
                      padding: 10px 20px;
                      font-weight:bold;
                      white-space:nowrap;
                      cursor:pointer;
                      font-size: 12px;
                  }
          }
          &.usdt{
              border:1px solid rgba(37,155,118,0.24);
              background-image: url(../public/img/usdt_bg.svg);
              span.icon{
                  background: url(../public/img/icon_usdt.svg) no-repeat center;
                  background-size: 100% 100%;
              }
              span{
                  button{
                      background:#259B76;
                  }
              }
          }
          &.btc{
              border:1px solid rgba(236,143,36,0.26);
              background-image: url(../public/img/btc_bg.svg);
              span.icon{
                  background: url(../public/img/icon_btc.svg) no-repeat center;
                  background-size: 100% 100%;
              }
              span{
                  button{
                      background:#EC8F24;
                  }
              }
          }
          &.eth{
              border:1px solid rgba(72,112,140,0.41);
              background-image: url(../public/img/eth_bg.svg);
              span.icon{
                  background: url(../public/img/icon_eth.svg) no-repeat center;
                  background-size: 100% 100%;
              }
              span{
                  button{
                      background:#48708C;
                  }
              }
          }
          &.okb{
              border:1px solid rgba(254,254,254,0.25);
              background-image: url(../public/img/okb_bg.svg);
              span.icon{
                  background: url(../public/img/icon_okb.svg) no-repeat center;
                  background-size: 100% 100%;
              }
              span{
                  button{
                      background:#FEFEFE;
                      color:#363636;
                  }
              }
          }
      }
  }
  .mask{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    &.hide{
        display:none;
    }
    .lend_box{
        width: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 380px;
        border-radius: 8px;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
        box-sizing: border-box;
        padding: 25px 30px 70px 30px;
        position: relative;
        &.usdt{
            background: url(../public/img/box_usdt_bg.svg) no-repeat right bottom #2A2F36;
            background-size: 230px auto;
        }
        &.approve{
            .title{
                overflow: hidden;
                i{
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                    &.icon_usdt{
                        background: url(../public/img/icon_usdt.svg) no-repeat center;
                        background-size: 100% auto;
                    }
                }
                .text{
                    color: #fff;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 20px;
                    h1{
                        font-size: 20px;
                        font-weight: normal;
                    }
                    p{
                        opacity: 0.6;
                        font-size: 14px;
                    }
                }
                .apy{
                    float: right;
                    padding: 5px 0;
                    h1{
                        opacity: 0.5;
                        font-size: 16px;
                    }
                    p{
                        opacity: 0.4;
                        font-size: 12px;
                    }
                }
            }
            .tabs{
                margin-top: 20px;
                li{
                    display: inline-block;
                    font-size: 18px;
                    margin-right:10px;
                    color:rgba(255,255,255,0.2);
                    cursor: pointer;
                    &.active{
                        color:#259B76;
                    }
                }
            }
            .content{
                &.none{
                    display: none;
                }
                .inputAction{
                    margin-top: 10px;
                    position: relative;
                    h1{
                        font-weight: normal;
                        font-size: 14px;
                    }
                    input{
                        font-size: 40px;
                        background: none;
                        border: none;
                        color:#fff;
                    }
                    button{
                        font-size: 18px;
                        color:#259B76;
                        cursor: pointer;
                        background: none;
                        border: none;
                        position: absolute;
                        right: 0;
                        top: 35px;
                    }
                }
                .info{
                    margin-top: 10px;
                    h1{
                        font-weight: normal;
                        font-size: 14px;
                    }
                    ul{
                        overflow: hidden;
                        li{
                            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                            margin-bottom: -1px;
                            padding: 20px 0;
                            color:rgba(255, 255, 255, 0.5);
                            p.bar{
                                margin-top: 15px;
                                background: #45494E;
                                // border:1px solid #2E2E2E;
                                border-radius: 2px;
                                height: 3px;
                                position: relative;
                                overflow: hidden;
                                .inner{
                                    background: #259B76;
                                    width: 20%;
                                    height: 100%;
                                    display: block;
                                }
                            }
                            .num{
                                float: right;
                                color:#fff;
                            }
                        }
                    }
                }
                .tools{
                    position: absolute;
                    bottom: 10px;
                    left: 30px;
                    right: 30px;
                    .balance{
                        float: left;
                        h1{
                            opacity: 0.6;
                            font-size: 14px;
                            font-weight: normal;
                        }
                        p{
                            opacity: 0.4;
                            font-size: 12px;
                        }
                    }
                    .btns{
                        float: right;
                        button{
                            color: #fff;
                            cursor: pointer;
                            border: none;
                            padding: 5px 20px;
                            margin-left:10px;
                            &.none{
                                background: none;
                                font-size: 12px;
                                opacity: 0.8;
                                &:hover{
                                    opacity: 1;
                                }
                            }
                            &:disabled{
                                background: #CCD6DD  !important;
                            }
                            &.green{
                                font-size: 14px;
                                background: #259B76;
                                border-radius: 3px;
                                opacity: 0.9;
                                &:hover{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
}

@keyframes breathe {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 0;
        margin-top: -150px;
    }
}

@keyframes floatLeft {
    0% {
        opacity: 1;
        margin-top: 0;
        margin-left:0;
    }
    100% {
        opacity: 0;
        margin-top: -150px;
        margin-left: -30px;
    }
}

@keyframes floatRight {
    0% {
        opacity: 1;
        margin-top: 0;
        margin-left: -30px;
    }
    100% {
        opacity: 0;
        margin-top: -150px;
        margin-left: 30px;
    }
}

@keyframes shine {
    0% {
        opacity: .4;
        box-shadow: 0 0px 2px rgba(252, 221, 44, 0.4), 0 0px 1px rgba(184, 163, 70, 0.4);
    }

    100% {
        opacity: 1;
        box-shadow: 0 0px 3px #f7c41f, 0 0px 3px #e9d51f;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        .lend_total{
            padding: 30px 0;
            h1{
                width: 120px;
                height: 120px;
            }
            h2{
                font-size: 16px;
    font-weight: lighter;
            }
            h3{
                font-size: 36px;
            }
        }
        .lend_list{
            width: 100%;
            padding: 0 15px;
            box-sizing: border-box;
            li{
                display:block;
                padding:10px;
                position:relative;
                span{
                    display: inline-block;
                    font-size: 18px;
                    width: 20%;
                    padding: 0 5px;
                    box-sizing: border-box;
                        vertical-align: top;
                    &.icon{
                        width:45px;
                        height:45px;
                        margin-right:10px;
                        float: left;
                    }
                    &.left{
                        font-size: 19px;
                        padding: 0 10px;
                        display: block;
                        width: auto;
                        float: none;
                    }
                     &.none{
                             position: absolute;
                            right: 10px;
                            top: 15px;
                            width:auto;
                            button{
                                padding: 7px 20px;
                            }
                        }
                    p{
                        display:block;
                        &.sub_title{
                        }
                        &.sub_titles{
                            font-size: 10px;
                            white-space: normal;
                            height: 30px;
                            display: inline-block;
                        }
                    }
                }
                &.usdt{
                    span.icon{
                        background-position: center top !important;
                        background-size: auto 100% !important;
                    }
                }
                &.btc{
                    border:1px solid rgba(236,143,36,0.26);
                    background-image: url(../public/img/btc_bg.svg);
                    span.icon{
                        background: url(../public/img/icon_btc.svg) no-repeat center;
                        background-size: 100% 100%;
                    }
                    span{
                        button{
                            background:#EC8F24;
                        }
                    }
                }
                &.eth{
                    border:1px solid rgba(72,112,140,0.41);
                    background-image: url(../public/img/eth_bg.svg);
                    span.icon{
                        background: url(../public/img/icon_eth.svg) no-repeat center;
                        background-size: 100% 100%;
                    }
                    span{
                        button{
                            background:#48708C;
                        }
                    }
                }
                &.okb{
                    border:1px solid rgba(254,254,254,0.25);
                    background-image: url(../public/img/okb_bg.svg);
                    span.icon{
                        background: url(../public/img/icon_okb.svg) no-repeat center;
                        background-size: 100% 100%;
                    }
                    span{
                        button{
                            background:#FEFEFE;
                            color:#363636;
                        }
                    }
                }
            }
        }
        }
}